<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Angtris</title>	
</head>

<style>
    .board td, .nextshape td {
        width: 25px;
        height: 25px;
        text-align: center;
        color: blue;
    }
    
    .board td.active, .nextshape td.active {
        background-color: cornflowerblue;
    }

    .board td {
        border: 1px solid black;
    }
</style>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

<body ng-app="myApp" ng-controller="boardCtrl" ng-keydown="keydown($event)">
<h1>Tetris using AngularJS</h1>
<div>
    <table><tr><td>
    <!-- Main board -->
    <table class="board">
        <tr ng-repeat="row in board.data">
            <td ng-repeat="cell in row track by $index" ng-class="getbackground(cell)">{{cell ? "▮" : " "}}</td>
        </tr>
    </table>
    </td><td>
        <p style="color: red;">High score: {{board.highscore}}</p>
        <p>Score: {{board.score}}</p>
        <p>Speed: {{board.speed}}</p>
        <table class="nextshape">
            <tr ng-repeat="row in board.nextshape.blocks">
                <td ng-repeat="cell in row track by $index" ng-class="getbackground(cell)">{{cell ? "▮" : " "}}</td>
            </tr>
        </table>
    </td></tr></table>     
</div>
</body>    

<script src="angtris.js"></script>

</html>